<div role="tabpanel" class="tab-pane active ibm-tabs__content-panel ibm-tabs__content-panel--active" id="forum-channels">
  <div *ngIf="loading" class="row">
    <div class="text-center">
      <div class="loader-container">
        <svg viewBox="25 25 50 50" class="loader">
          <circle cx="50" cy="50" r="20" class="loader--path"></circle>
        </svg>
      </div>
    </div>
  </div>
  <div *ngIf="!loading">
    <!--
    <div class="row ibm-text--small">
      <button (click)="recategorizeAll()">RecategorizeAll</button>
    </div>
  -->

    <div class="row ibm-text--small">
      <div class="col-md-6 col-sm-6">
        <app-f1-graph [confusion]="confusionMatrix"></app-f1-graph>
      </div>
      <div class="col-md-6 col-sm-6">
        <app-mvp-calc [transactions]="transactions"></app-mvp-calc>
      </div>
    </div>
  </div>
</div>
