<div class="panel panel-default ibm-panel">
  <div class="panel-heading ibm-panel__heading">
    <h3>F1 Score, Precision & Recall</h3>
    <p class="ibm-text--small">This chart shows the statistics for the Classification</p>
  </div>
  <div class="panel-body ibm-panel__body">
    <div id="f1-graph-chart"></div>
    <div *ngIf="summary">
      Overall F1 Score (Precision/Recall) {{summary.F1|number:'1.0-2'}} ({{summary.Precision|number:'1.0-2'}}/{{summary.Recall|number:'1.0-2'}})
    </div>
  </div>
</div>
