<a class="navbar-nav" (click)="settingsModal.show()"><span class="ibm-icon--settings-manage_24" aria-hidden="true"></span></a>

<!--
<button type="button" class="btn btn-primary" (click)="settingsModal.show()">Static modal</button>
-->

<div class="modal fade" bsModal #settingsModal="bs-modal" [config]="{backdrop: 'static'}" (onShow)="onModalShow()" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Settings</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="settingsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="wksModelId" class="control-label">WKS Model ID</label>
            <div class="col-sm-12">
              <input type="text" #wksModel class="form-control" id="wksModelId" placeholder="{{currentModelId}}">
            </div>
          </div>
          <div class="form-group">
            <span>Date: </span><span>{{currentModelDateTime|date}}</span>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" (click)="updateSettings(wksModel.value)" class="btn btn-default">Update</button>
              <button type="button" (click)="settingsModal.hide()" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
