<div class="panel panel-default ibm-panel">
  <div class="panel-heading ibm-panel__heading">
    <div class="row">
      <div class="col-sm-11">
      <h3>Confusion Matrix</h3>
      <p class="ibm-text--small">Select a number to filter to that cell</p>
      </div>
      <div class="col-sm-1">
        <div class="ibm-icon" style="color:black">
          <app-help [helpContent]="helpContent"></app-help>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body ibm-panel__body">
    <!--
    <table class="table table-bordered">
      <thead>
        <td *ngFor="let header of confusionTable.headers">
          {{header}}
        </td>
      </thead>
      <tbody>
        <tr *ngFor="let key of confusionKeys">
          <td *ngFor="let value of confusionTable[key]; let idx = index">
            <span *ngIf="idx >= 1">
              {{value | number:'1.0-2'}}
            </span>
            <span *ngIf="idx<1">
              {{value}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  -->
    <table class="table table-bordered">
      <caption>Actual(rows) vs. Predicted(cols)</caption>
      <ng-container *ngFor="let row of confusionArray; let header=first">
        <thead *ngIf="header" class="ibm-text--strong">
          <td *ngFor="let column of row">
            {{column}}
          </td>
        </thead>
        <tbody *ngIf="!header">
          <tr>
            <td *ngFor="let obj of row; let label=first" [ngClass]="getStyle(obj)">
              <div *ngIf="label" class="ibm-text--strong">
                {{obj}}
              </div>
              <div *ngIf="pipeToNumber(obj)">
                {{obj.value | number:'1.0-2'}}
              </div>
              <div *ngIf="!pipeToNumber(obj)" (click)="confusionSelected(obj)">
                {{obj.value}}
              </div>
          </td>
        </tr>
      </tbody>
    </ng-container>
    </table>
  </div>
</div>
