.cfdark{
  background-color: #164D56;
  color:white;
  cursor:pointer;
}

.cflight{
  background-color: #D1F0F7;
  color:black;
  cursor:pointer;
}

.cfmedium {
  background-color: #71CDDD;
  color:black;
  cursor:pointer;
}

.table {
  // table-layout: fixed;
  caption {
    caption-side: top;
  }
  thead {
    td {
      border: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      // white-space: nowrap;
      word-break: break-all;
      &:first-child {
        width: 18%;
      }
    }
  }
  .table-body {
    td, td > div {
      text-overflow: ellipsis;
      overflow: hidden;
      // white-space: nowrap;
      word-break: break-all;
    }
  }
}

::ng-deep .mat-card {
  height: 100%;
}
