<md-card>
  <md-card-content>
    <div class="row">
      <div class="col-sm-11">
        <h3>F1 Score, Precision &amp; Recall</h3>
        <p class="ibm-text--small">This chart shows the statistics </p>
      </div>
      <div class="col-sm-1">
        <div class="ibm-icon" style="color:black">
          <app-help [helpContent]="helpContent"></app-help>
        </div>
      </div>
    </div>
    <div #chartdiv class="graph-chart-div panel-body ibm-panel__body">
      <div id="f1-graph-chart"></div>
      <div #legendDiv class="legend-div">
        <div *ngFor="let c of colors" class="legend-block" (mouseover)="mouseOverLegend(c)">
          <div class="square-div" [style.backgroundColor]="c.color"></div>
          <div class="legend-text">{{c.label}}</div>
        </div>
      </div>
      <div class="bottom-title" *ngIf="summary">
        Overall F1 Score (Precision/Recall) {{summary.F1|number:'1.0-2'}} ({{summary.Precision|number:'1.0-2'}}/{{summary.Recall|number:'1.0-2'}})
      </div>
    </div>
  </md-card-content>
</md-card>
