<div class="panel panel-default ibm-panel">
  <div class="panel-heading ibm-panel__heading">
    <div class="row">
      <div class="col-sm-11">
        <h3>Table of Confusion</h3>
        <p class="ibm-text--small">This chart shows the statistics for the Classification</p>
      </div>
      <div class="col-sm-1">
        <div class="ibm-icon" style="color:black">
          <app-help [helpContent]="helpContent"></app-help>
        </div>
      </div>
    </div>
  </div>
    <div class="panel-body ibm-panel__body">
      <div id="table-of-confusion-chart"></div>
    </div>
  </div>
