<md-card>
  <md-card-content>
    <div class="row">
      <div class="col-sm-11">
        <h3>Table of Confusion</h3>
        <p class="ibm-text--small">This chart shows the statistics for the Classification</p>
      </div>
      <div class="col-sm-1">
        <div class="ibm-icon" style="color:black">
          <app-help [helpContent]="helpContent"></app-help>
        </div>
      </div>
    </div>
    <div #chartdiv class="ibm-text--small graph-chart-div">
      <div id="table-of-confusion-chart"></div>
      <div #legendDiv class="legend-div">
        <div *ngFor="let c of colors" class="legend-block" (mouseover)="mouseOverLegend(c)" (mouseout)="mouseOutLegend(c)">
          <div class="square-div" [style.backgroundColor]="c.color"></div>
          <div class="legend-text">{{c.label}}</div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
