<div class="container-fluid">
  <div *ngIf="loading" [@itemFadeAnimation] class="row">
    <div class="col-md-12">
      <div class="text-center">
        <div class="loader-container">
          <svg viewBox="25 25 50 50" class="loader">
            <circle cx="50" cy="50" r="20" class="loader--path"></circle>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loading" [@itemFadeAnimation]>
    <md-accordion multi="true">
      <md-expansion-panel [expanded]="visualizationSource.expanded.emailSrc">
        <md-expansion-panel-header>
          Source Email
        </md-expansion-panel-header>
        <div *ngIf="visualizationSource">
          <pre>{{visualizationSource.source_email.body}}</pre>
        </div>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="visualizationSource.expanded.transaction">
        <md-expansion-panel-header>
          Transaction &nbsp;<span *ngIf="visualizationSource">Found[{{visualizationSource.transactionPercentage|percent}}]</span>
        </md-expansion-panel-header>
        <div *ngIf="visualizationSource">
          <div class="row">
            <div class="transaction" [ngClass]="transaction.toc_type" *ngFor="let transaction of transactions">
              <div class="col-md-6">
                {{transaction.transaction_type}}
              </div>
              <div class="col-md-6">
                {{transaction.confidence_level | percent}}
              </div>
            </div>
          </div>
        </div>
      </md-expansion-panel>

      <md-expansion-panel [expanded]="visualizationSource.expanded.entities">
        <md-expansion-panel-header>
          Entities
          <span *ngIf="visualizationSource && visualizationSource.hasGroundTruthEntities()">Found[{{visualizationSource.entityPercentage|percent}}]</span>
        </md-expansion-panel-header>
        <div class="row ibm-text--small ibm-text--dark">
          <div class="col-md-4">
            <h3>
              Predicted Text
            </h3>
          </div>
          <div class="col-md-2">
            <h3>Predicted Type</h3>
          </div>
          <div class="col-md-2">
            <h3> Result</h3>
          </div>
          <div class="col-md-4">
            <h3>Actual Text</h3>
          </div>
        </div>
        <div *ngFor="let entity of entities" class="ibm-text--small">
          <div class="row entity" [ngClass]="entity.toc_type">
            <div class="col-md-4">
              <span>{{entity.text}}</span>
            </div>
            <div class="col-md-2">
              <span>{{entity.type}}</span>
            </div>
            <div class="col-md-2">
              {{entity.toc_type}}
            </div>
            <div class="col-md-4">
              <div *ngIf="entity.actual">
                {{entity.actual.text}}
              </div>
            </div>
          </div>
        </div>
      </md-expansion-panel>
    </md-accordion>
    <!-- <div class="row">
      <div class="ibm-wrapper--gray10">
        Source Email
        <a type="button" class="pull-right" (click)="isEmailCollapsed=!isEmailCollapsed">
            <i class="fa fa-chevron-down" [ngClass]="{'collapse': isEmailCollapsed}" aria-hidden="true"></i>
          <span class="sr-only">Toggle Dropdown</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 entity-viz" [@shrinkOut] *ngIf="!isEmailCollapsed">
        <div *ngIf="visualizationSource">
          <pre>
        {{visualizationSource.source_email.body}}
        </pre>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ibm-wrapper--gray10">
        Transaction <span *ngIf="visualizationSource">Found[{{visualizationSource.transactionPercentage|percent}}]</span>
        <a type="button" class="pull-right" (click)="isCollapsed=!isCollapsed">
            <i class="fa fa-chevron-down" [ngClass]="{'collapse': isCollapsed}" aria-hidden="true"></i>
          <span class="sr-only">Toggle Dropdown</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 entity-viz" [@shrinkOut] *ngIf="!isCollapsed">
        <div *ngIf="visualizationSource">
          <div class="row">
            <div class="transaction" [ngClass]="transaction.toc_type" *ngFor="let transaction of transactions">
              <div class="col-md-6">
                {{transaction.transaction_type}}
              </div>
              <div class="col-md-6">
                {{transaction.confidence_level | percent}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ibm-wrapper--gray10">
        Entities
        <span *ngIf="visualizationSource && visualizationSource.hasGroundTruthEntities()">Found[{{visualizationSource.entityPercentage|percent}}]</span>
        <a type="button" class="pull-right" (click)="isEntitiesCollapsed=!isEntitiesCollapsed">
            <i class="fa fa-chevron-down" [ngClass]="{'collapse': isEntitiesCollapsed}" aria-hidden="true"></i>
          <span class="sr-only">Toggle Dropdown</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 entity-viz" [@shrinkOut] *ngIf="!isEntitiesCollapsed">
        <div class="row ibm-text--small ibm-text--dark">
          <div class="col-md-4">
            <h3>
            Predicted Text
          </h3>
          </div>
          <div class="col-md-2">
            <h3>Predicted Type</h3>
          </div>
          <div class="col-md-2">
            <h3> Result</h3>
          </div>
          <div class="col-md-4">
              <h3>Actual Text</h3>
          </div>
        </div>
        <div *ngFor="let entity of entities" class="ibm-text--small">
          <div class="row entity" [ngClass]="entity.toc_type">
            <div class="col-md-4">
              <span>{{entity.text}}</span>
            </div>
            <div class="col-md-2">
              <span>{{entity.type}}</span>
            </div>
            <div class="col-md-2">
              {{entity.toc_type}}
            </div>
            <div class="col-md-4">
              <div *ngIf="entity.actual">
                {{entity.actual.text}}
              </div>
            </div>
          </div>
        </div>
      </div> -->
  </div>
  <div [@itemFadeAnimation] *ngIf="hasExceptions" class="row ibm-text--error">
    <div class="ibm-wrapper">
      Exception
    </div>
    <div *ngFor="let exception of visualizationSource.exception">
      {{exception | json}}
    </div>
  </div>
</div>
