/* from the ui-component watson dev cloud */

.true_positive {
    background-color: #164D56;
    color: white;
}

.false_positive {
    background-color: #D1F0F7;
    color: black;
}

.false_negative {
    background-color: #71CDDD;
    color: black;
}

.entity.true_positive {
    background-color: #116639;
    color: white;
}

.entity.false_positive {
    background-color: #57d785;
    color: black;
}

.entity.false_negative {
    background-color: #cdf3d1;
    color: black;
}

.entity-viz {
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", "Roboto", sans-serif;
    padding: 0.6em 1em;
    font-weight: 300;
    font-size: 1em;
    border: 1px dashed #464646;
    height: 20em;
    overflow: auto;
}

.base--textarea {
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", "Roboto", sans-serif;
}

button,
.base--button {
    padding: 0.25em 2em;
    color: #9855d4;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #9855d4;
    border-radius: 10rem;
    transition: 0.2s;
    display: inline-block;
}

button:hover,
.base--button:hover,
button:focus,
.base--button:focus {
    background-color: rgba(38, 38, 38, 0);
    border-color: #bd92e3;
    color: #bd92e3;
}

button:active,
.base--button:active {
    transition: 0s;
    transform: translateY(2px);
}

input[type="submit"],
button[type="submit"],
.base--button_submit {
    padding: 0.25em 2em;
    color: #9855d4;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #9855d4;
    border-radius: 10rem;
    transition: 0.2s;
    display: inline-block;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="submit"]:hover,
button[type="submit"]:focus,
.base--button_submit:hover,
.base--button_submit:focus {
    background-color: rgba(38, 38, 38, 0);
    border-color: #bd92e3;
    color: #bd92e3;
}

input[type="submit"]:active,
button[type="submit"]:active,
.base--button_submit:active {
    transition: 0s;
    transform: translateY(2px);
}

::ng-deep {
    .popover {
        max-width: 380px;
        .popover-content-div {
            width: 350px;
            .row {
                border-bottom: 1px solid #c7c7c7;
                margin: 0 0.5rem;
                padding: 0.5rem;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border-bottom: 0;
                    padding-bottom: 0;
                }
                .col-md-9 {
                    padding-left: 0;
                }
                .col-md-3 {
                    padding-right: 0;
                }
            }
        }
    }
}

:host ::ng-deep {
    .mat-radio-label-content {
        padding-right: 1rem;
    }
    .mat-expansion-panel-header,
    .mat-expansion-panel-header.mat-expanded:focus {
        background-color: #f7f7f7;
        font-weight: 600;
    }
    .mat-expansion-panel-body {
        margin-top: 1rem;
    }
    .input-text-div {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        font-size: 1rem;
    }
    .info-span {
        color: #4178BE;
    }
    .intent-content-div {
        font-size: 0.9rem;
    }
    .intent-row-div {
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #c7c7c7;
        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
    .email-src-radio-div {
        margin-bottom: 1rem;
        .radio-label-div {
            display: inline-block;
            position: relative;
            bottom: 2px;
            margin-right: 0.5rem;
            font-weight: 600;
        }
    }
}