
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    overflow: auto;
    border: 0;
    &:focus {
      border: 0;
    }
  }

  .base--textarea {
    font-family: "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", "Roboto", sans-serif;
  }

  textarea, .base--textarea {
    width: 100%;
    padding: 0.6em 1em;
    font-size: 1em;
    font-weight: 300;
    background-color: #fff;
    height: 20em;
  }

  textarea:disabled, .base--textarea:disabled {
    background-color: #c7c7c7;
  }

  :host ::ng-deep .mat-form-field {
    width: 100%;
    .mat-form-field-placeholder {
      padding: 0.5rem 1rem;
    }
  }
